.capi {
  text-transform: uppercase;
}
.main-container {
  background-color: white;
  width: 40vw;
  max-width: 1000px;
  font-family: "Source Sans Pro", sans-serif;
}
.no-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
}

.record-btn {
  margin-left: 10px;
}
@media only screen and (max-width: 900px) {
  .main-container {
    width: 70vw;
  }
}
@media only screen and (max-width: 600px) {
  .main-container {
    width: 80vw;
  }
}
